body{
    font-family: Arial;
}
#main_heading{
    text-align: center;
}
.change{
    margin-left: 35%;
}
.grid_container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}
#add_input, #add_date{
    font-size: 15px;
    padding: 10px 5px;
}
.add_button{
    background-color: rgb(5, 119, 19);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 0px;
}
.delete_button{
    background-color: rgb(87, 4, 4);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 0px;
}